{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated == False %}
<h1>Landing Page With Button To Login/register </h1>
{% endif %}

{% if user.is_authenticated and user.profile not in profiles %}
<h1>You're authenticated, but you need to fill out this form: </h1>
<form method="POST">
{% csrf_token %}
{{ form|crispy }}

<div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
      </div>
</form>

{% endif %}

{% if user.is_authenticated and user.profile in profiles %}
<div class="row">
  <div class="col-3 shadow p-3 mb-5 rounded">
    <p>hl;aksfj</p>
  </div>
  <div class="col-5">

  </div>
  <div class="col-2">

  </div>
</div>

{% endif %}


{% endblock %}
